/* reset */
body,
h1,
p {
  margin: unset;
  padding: unset;
}

button{
  border:none;
}

h1,
p {
  font-size: 14px;
  font-weight: bold;
  font-family: 'arial';
}


/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* background */
:root {
  background-image: url(images/background.png);
}

/* wrapper */
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 271px;
}

/* main */
.main {
  display: flex;
  min-width: 1076px;
  /*최소 넓이를 줘서 유동성 추가*/
  min-height: 538px;
  /*최소 높이를 줘서 유동성 추가*/
  background-color: white;

  border-radius: 6px;
  
}



/* main left */
.main-left {
  width: 244px;
  /*여기는 고정값을 주고,*/

  background-image: url(images/sidebar-background.png);
  background-size: cover;
  text-align: center;


  box-sizing: border-box;
  border-radius: 6px 0 0 6px;
}

.side-bar-title {
  display: inline;
  border-bottom: solid 8px #444444;

  color: #ffffff;
  font-size: 24px;
  font-family: Montserrat;
}

.side-bar-icon {
  display: inline;
  width: 79px;
  height: 71.5px;
  margin-left: 27px;
}

.side-bar-text {
  color: #999999;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 140%;
  

  margin-top: 7.5px;
}

.side-bar-button {
  width: 212px;
  height: 22px;


  font-size:12px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 18%;
  border-radius: 2px;

  margin-bottom: 6px;
}

.side-bar-button.location {
  background-color: #0468FF;
  color: #ffffff;
}

.side-bar-button.share {
  background-color: #D9D9D9;
  color: #333333;
}

/* main right */
.main-right {
  flex-grow: 1;
  /*여기에 그로우를 줘서 유동적으로 함*/
}